<!DOCTYPE html>
<html amp lang="vi">
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta charset="UTF-8">
    <link href="{% static "iaabase/iaalogo.png" %}" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>IAA - Đổi giấy phép lái xe quốc tế | Việt Nam </title>
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>

/* The content from base.css */
         .phonelink{
    position: fixed; /* Lock location always on the scree */
    bottom: 260px; /* Set to the bottom */
    right: 0; /* Set to the right */
    margin: 30px; /* Add space around background */
}
.phoneicon{
    width: 60px !important; /* Set width of icon */
    height: 60px !important; /* Set height of icon */
}
@media screen and (max-width: 480px){
    .lgscreenphone{
        display: none;  /* On small screens make phone icon disappear */
    }
    .mbscreenphone{
        display: block; /* On small screens make phone icon appear */
    }
}
@media screen and (min-width: 481px){
    .mbscreenphone{
        display: none; /* On large screens make phone icon disappear */
    }
    .lgscreenphone{
        display: block; /* On large screens make phone icon appear */
    }
}
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Verdana, sans-serif;
        }

        .mySlides {
            display: none;
        }

        img {
            vertical-align: middle;
        }

        /* Slideshow container */
        .slideshow-container {
            max-width: 1000px;
            position: relative; /*margin: auto;*/
        }

        /* Caption text */
        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }

        .rightlistul {
            list-style-type: none;
            padding-left: 0px;
        }

        .rightlistli {
            padding: 10px 0px 10px 0px;
            border-bottom: 1px dotted darkblue;
        }

        .navstyle {
            padding: 0px;
            margin: 0px 10px 0px 10px;
            border-bottom: 4.6px solid rgb(0, 0, 153);
            font-size: 13px;
        }

        .bluetext {
            color: rgb(0, 0, 153);
        }

        .rightlista {
            text-decoration: none;
        }

        .rightlistli:hover {
            background-color: cornflowerblue;
        }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        /* The dots/bullets/indicators */
        .dot {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active {
            background-color: #717171;
        }

        /* Fading animation */
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }

        @keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }

        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 300px) {
            .text {
                font-size: 11px
            }
        }

        * {
            box-sizing: border-box;
        }

        html {
            background: url({% static "iaabase/bg2.jpg" %}) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .wrapper { /*font-family: Arial;*/
            padding: 10px;
            background: #f1f1f1;
            max-width: 980px;
            margin: auto; /*background-image: url("bg2.jpg");*/
            background-color: rgba(255, 255, 255, 0.8); /*background-repeat: no-repeat;*/ /*background-attachment: fixed;*/
        }



        /* Header/Blog Title */
        .header { /*padding: 30px;*/
            text-align: center;
            background: white;
            background-color: rgba(255, 255, 255, 0.8);
        }

        .header h1 {
            font-size: 35px;
        }

        /* Style the top navigation bar */


        /* Create two unequal columns that floats next to each other */ /* Left column */
        .leftcolumn {
            float: left;
            width: 70%;
        }

        /* Right column */
        .rightcolumn {
            float: left;
            width: 30%;
            background-color: rgba(255, 255, 255, 0.4); /*padding-left: 20px;*/
            font-size: 14px;
        }

        /* Fake image */
        .fakeimg {
            background-color: rgba(255, 255, 255, 0.8);
            width: 100%;
            padding: 20px;
        }

        /* Add a card effect for articles */
        .card {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px; /*margin-top: 20px;*/
            font-size: 14px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Footer */
        .footer {
            padding: 20px;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.6); /*margin-top: 20px;*/
        }

        /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 800px) {
            .leftcolumn, .rightcolumn {
                width: 100%;
                padding: 0;
            }
        }

        /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */

.topnav {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}

.topnav a {
  float: left;
  display: block;
  color: #1e73be;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color: cornflowerblue;
  /*color: black;*/
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1024px) and  (min-width: 981px){
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 980px) and (min-width: 769px) {
  .topnav a:nth-child(2) {display: none;}
    .topnav a:nth-last-child(2) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px)  and (min-width: 479px){
  .topnav a:nth-child(2) {display: none;}
    .topnav a:nth-child(3) {display: none;}
    .topnav a:nth-child(4) {display: none;}
    .topnav a:nth-last-child(2) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 478px){
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 980px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
</style>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MSDLPGX');</script>
<!-- End Google Tag Manager -->

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MSDLPGX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v4.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your customer chat code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="537801222903203"
  logged_in_greeting="Xin chào, IAA An Khang có thể hỗ trợ bạn vấn đề gì?"
  logged_out_greeting="Xin chào, IAA An Khang có thể hỗ trợ bạn vấn đề gì?">
      </div>

<div class="wrapper">
        <amp-carousel layout="responsive" width="300" height="60" type="slides" autoplay delay="2000" loop>
        <amp-img src="{% static 'iaabase/pic1.jpg' %}" width="300" height="168" layout="responsive"></amp-img>
        <amp-img src="{% static 'iaabase/pic2.jpg' %}" width="300" height="168" layout="responsive"></amp-img>
    </amp-carousel>

    <div class="topnav" id="myTopnav">
        <a class="navstyle" href="{% url 'index' %}">TRANG CHỦ</a> <a class="navstyle" href="{% url 'license' %}">MẪU BẰNG</a> 
        
        <a class="navstyle" href="{% url 'register' %}">ĐĂNG
    KÝ IAA</a> <a class="navstyle" href="{% url 'pricing' %}">BẢNG GIÁ</a> <a class="navstyle" href="{% url 'contact' %}" >LIÊN HỆ</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>


    <div class="topnav">
</div>
<div class="row">
    <div class="leftcolumn">
        <div class="card">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card"><h2 class="rightlistli">Danh Mục</h2>
            <ul class="rightlistul">
                <li class="rightlistli"><a class="rightlista" href="{% url 'info' %}">Tìm hiểu thêm về IAA</a></li>
                <li class="rightlistli"><a class="rightlista" href="{% url 'delivery' %}">Nhận bằng iAA tại nước ngoài</a></li>
                <li class="rightlistli"><a class="rightlista" href="{% url 'validate' %}">Cách kiểm tra iAA</a></li>
                <li class="rightlistli"><a class="rightlista" href="{% url 'promotion' %}">Ưu đãi dành cho đại lý và công ty du lịch</a>
                </li>
                <li class="rightlistli"><a class="rightlista" href="{% url 'guide' %}">Hướng dẫn cho người nước ngoài lái xe tại Việt
                    Nam</a></li>
                <li class="rightlistli"><a class="rightlista" href="{% url 'faq' %}">Giải đáp nhanh</a></li>
                <li class="rightlistli"><a class="rightlista" href="{% url 'sign' %}">Các bảng hiệu giao thông ở nước ngoài</a></li>
                <li class="rightlistli"><a class="rightlista" href="{% url 'note' %}">Lưu ý khi lái xe tại nước ngoài</a></li>
                <li class="rightlistli"><a class="rightlista" href="{% url 'note' %}">Dành cho Đại lý 1</a></li>
                <li class="rightlistli"><a class="rightlista" href="{% url 'note' %}">Dành cho Đại lý 2</a></li>
                <li class="rightlistli"><a class="rightlista" href="{% url 'note' %}">Dành cho Đại lý 3</a></li>
            </ul>
        </div>
        <div class="card"><h2 class="rightlistli bluetext">IAA Việt Nam</h2>
            <ul class="rightlistul">
                <li class=""><a class="rightlista bluetext">Trụ sở chính :</a></li>
                <li class="rightlistli"><a class="rightlista bluetext">An Khang- Lầu 11- Toà nhà MH- số 728-730-Võ Văn
                    Kiệt-Phường 1-Quận 5 - TP.HCM (ngay góc Trần Bình Trọng-Võ Văn Kiệt)
                <li class=""><a class="rightlista bluetext">Chi nhánh tại Hà Nội:</a></li>
                <li class="rightlistli"><a class="rightlista bluetext">Phòng 701- Lầu 7 - Số 101- Láng Hạ - Đống Đa - Hà
                    Nội</a></li>
                <li class="rightlistli"><a class="rightlista bluetext">Điện thoại: 0938247057- Viber or Zalo or
                    whatsapp</a></li>
                <li class="rightlistli"><a class="rightlista bluetext">Email: khang@iaavietnam.com |
                    vanphongankhang@gmail.com</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer"><p>Bản quyền thuộc về <a href="https://www.leapor.com">Leapor</a></p></div>
  <a class="lgscreenphone phonelink" href="tel:0938247057"><amp-img alt="Phone call"
  src="{% static "iaabase/call.png" %}"
  width="60"
  height="60"
  layout="fixed">
</amp-img></a>
<a class="mbscreenphone phonelink" href="tel:0938247057"><amp-img alt="Phone call"
  src="{% static "iaabase/call.png" %}"
  width="60"
  height="60"
  layout="fixed">
</amp-img></a>

    </div>
<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>


</body>
</html>