{% extends "dangky/ampiaa.html" %}
{% block css %}
<style>
    :required {
        width: 300px;
    }
</style>
{% endblock %}
{% block content %}
<div class="span-19 last">

    <br>
    <br>
    <div style="font-size:24px; text-align: center; color: #0c42a6">
        <h3><span>Liên hệ</span></h3>
    </div>

    <br>
    <div class="box silver" style=" color: #0c42a6; font-weight: bold"><h3 class="header">iAA Việt Nam</h3>
        <table border="0" height="207" width="280">
            <tbody>
            <tr>
                <td><p>Trụ sở chính :</p></td>
            </tr>
            <tr>
                <td><p> An Khang- Lầu 11- Toà nhà MH- số 728-730-Võ Văn Kiệt-Phường 1-Quận 5 - TP.HCM
                    (ngay góc Trần Bình Trọng-Võ Văn Kiệt) </p>&nbsp;<br/>
                    <p>Chi nhánh tại Hà Nội:</p>
                    <p>​Phòng 701- Lầu 7 - Số 101- Láng Hạ - Đống Đa - Hà Nội</p>
                    <br>
                    <p>Điện thoại: 0938247057- Viber or Zalo or whatsapp</p>
                    <br>
                    <p>Email: khang@iaavietnam.com | vanphongankhang@gmail.com</p>
                </td>

            </tr>
            </tbody>
        </table>
    </div>


   <br>
    <h2 class="title_about" style="  font-size: 24px;font-weight: 700;
    line-height: 24px;margin: 0;padding: 5px 0 5px;color:#336699;text-align: center">Gửi thư</h2>

    <div class="contact">

        <div class="title">
            Quý vị có thể gửi thư tới chúng tôi bằng cách hoàn tất biểu mẫu dưới đây. Để chúng tôi có thể trả lời thư
            của Quý vị, xin vui lòng khai báo đầy đủ.
        </div>
        <div style="text-align: center">
            <form action="{% url 'contact' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="content clearfix">
                <div>
                    <label>
                        Tiêu đề:
                    </label>

                </div>
                <div>
                    {{form.title}}
                </div>
                <div class="fname">
                    <label for="fname">
                        Họ và tên:
                    </label>

                </div>
                <div>
                    {{form.name}}
                </div>
                <div class="femail">
                    <label for="femail_iavim">
                        Địa chỉ email:
                    </label>

                </div>
                <div>
                    {{form.mail}}
                </div>

                <div class="fphone">
                    <label for="fphone">
                        Điện thoại:
                    </label>

                </div>
                <div>
                    {{form.phone}}
                </div>

                <div>
                    <label for="fcon">
                        Nội dung:
                    </label>

                </div>
                <div>
                    {{form.content}}
                </div>


                <div style="clear:both"></div>
                <div style=" padding-top:5px;">
                    <input type="hidden" name="checkss" value="c104ac4535a234c1efc2174699d918ad"/>&nbsp;&nbsp;<input
                        type="submit" value="Gửi thông tin" id="btsend" name="btsend" class="bt1"/>
                </div>
            </div>
        </form>
        </div>



    </div>&nbsp;


</div>
{% endblock %}