{% extends "dangky/ampiaa.html" %}
{% block content %}
{%load static%}

<h3 style="font-weight: bold">Kính chào Quý Khách !</h3><br>
<p style="font-weight: bold">Website đang trong thời gian bảo trì và cập nhật</p><br>
<p style="font-weight: bold">Mọi câu hỏi vui lòng liên hệ qua:  Viber+ Zalo  +  Whatsapp ...  số :  0938247057 </p><br>
<p style="font-weight: bold">Xin cảm ơn</p><br>
<p style="font-weight: bold">Mr An - Quản lý iAA Việt Nam</p><br>
<p style="font-weight: bold">Please contact me via : Viber or zalo or whatsapp number :  0938247057</p><br>
<p style="font-weight: bold">Thank you</p><br>
<p style="font-weight: bold">Mr An - Manager of An Khang</p><br>

{% endblock %}
