{% extends "dangky/ampiaa.html" %}
{% block content %}
{%load static%}
 <br>
    <div style="font-size:24px; text-align: center; color: #0c42a6">
        <h3><span>Bằng Lái Xe Quốc Tế</span></h3>
    </div>
<div class="span-19 last"><h2 class="title_about" style=""></h2>
                            <div class="clearfix fl" style="width:300px; padding:6px 0px">
                                <table border="0" style="display: inline;">
                                    <tr>
                                        <td>
                                                                                        <div style="margin-top:3px;" class="fb-like" data-href="" data-send="true"
                                                 data-layout="button_count" data-width="" data-show-faces="true"></div>
                                        </td>
                                        <td style="padding-top: 3px;">
                                            <div style="margin-top:3px" class="g-plusone" data-size="medium"></div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div style="clear:both"></div>

                            <div style="text-align: center;"><amp-img alt="" src="{% static "dangky/uploads/thoi-han-va-gia/anh1.jpg" %}"
                                                                  width="525"
  height="525"
  layout="responsive"/></amp-img></div>
     <div style="text-align: center;"><amp-img alt="" src="{% static "dangky/uploads/thoi-han-va-gia/anh3.jpg" %}"
                                                                  width="525"
  height="525"
  layout="responsive"/></amp-img></div>
                            <div><br/> <span style="color: rgb(255, 0, 0);"><strong>IAA An Khang&nbsp;chúng tôi mua&nbsp;bảo hiểm toàn cầu. nếu bị sai sót mất mát, hư hỏng trong thời gian sử dụng được&nbsp;đổi Bằng&nbsp;mới không tính phí dưới bất cứ hình thức nào, chỉ tính tiền chuyển phát nhanh </strong></span><span
                                    style=""><strong>DHL</strong></span><span style="color: rgb(255, 0, 0);"><strong>&nbsp;từ Mỹ&nbsp;về Việt Nam</strong></span>
                            </div>
                            <div> &nbsp;</div>
                            <div>
                                <p style=" color: #0c42a6; font-weight: bold">Quý Khách có thể nhận bằng quốc tế iAA tại Việt Nam , hoặc ngay tại Mỹ  , hoặc bất kỳ Quốc Gia nào Quý Khách muốn.
<br><br>
Cam kết :  không phải đóng tiền cọc hay bất kỳ khoản nào khác -Chỉ trả tiền  (có thể chuyển khoản) sau khi nhận được bằng và kiểm tra bằng lái xe Quốc Tế là thật trên website iAA bên Mỹ.</p>
                            </div>
                            <div><span style="font-size: 14px; color: rgb(12, 52, 61);">&nbsp;</span></div>
                            <div> &nbsp;</div>
                            <div style="text-align: center;"><span style="color:rgb(255, 0, 0);"><span
                                    style="font-size: 18px;"><strong>Đảm bảo 100% Uy tín, Chính xác,</strong></span></span>
                            </div>
                            <div style="text-align: center;"><span style="font-size:18px;"><span
                                    style="color:rgb(255, 0, 0);"><strong>Giao bằng đúng hẹn&nbsp;</strong><strong>Là phương châm của Công Ty chúng tôi</strong></span></span>
                            </div>
                            <div style="text-align: center;"> &nbsp;</div>
                            <div style="text-align: center;"><u><span style="font-size:18px;"><strong>Điều kiện cần thiết để chuyển đổi:</strong></span></u>
                            </div>
                            <div style="text-align: center;">

                            </div>
                            <div> &nbsp;</div>
                            <div style="clear: both; text-align: center;"> &nbsp;<span style="font-size:18px;"> <strong>Bằng lái có màng bảo vệ bảy màu chống giả tuyệt&nbsp;đối</strong></span>
                            </div>&nbsp;<div style="text-align: center;"><amp-img alt=""
                                                                              src="{% static "dangky/uploads/thoi-han-va-gia/anh2.jpg" %}"
                                                                              width="224"
  height="350"
  layout="responsive" /></amp-img>
                            </div>&nbsp;<br/>
    <p>
       <strong>An Khang là đại lý duy nhất của iaa Mỹ (hiệp hội ô tô Quốc tế ) tại Việt Nam giá tốt nhất và an toàn nhất - tránh bị làm giả - được chứng minh trên website iAA : <a href="https://idl-iaa.com/">idl-iaa.com</a></strong>
    </p>

                            <div style="text-align: center;"><span style="font-size:14px;"><span
                                    style="color: rgb(0, 0, 205);"><strong><a href="{% url 'register'%}"><amp-img alt="" s
                                                                                            src="{% static "dangky/uploads/thoi-han-va-gia/dang-ky.png" %}"
                                width="290"
  height="85"
  layout="responsive"
                                /></amp-img></a></strong></span></span>
                            </div>
                            <div> &nbsp;</div>
                            <div style="text-align: center;"><strong><amp-img alt="" src="{% static "dangky/uploads/thoi-han-va-gia/visa1.jpg" %}"
                                                                          width="516"
  height="98"
  layout="responsive"
                               /></amp-img></strong>
                            </div>
    <br>
    <br>
                            <!--<div><strong><amp-img alt="" src="{% static "dangky/uploads/thoi-han-va-gia/thong-tin-bang-lai-quoc-te.jpg" %}"-->
                                                                          <!--width="516"-->
  <!--height="698"-->
  <!--layout="responsive"-->
                               <!--/></amp-img></strong> &nbsp;</div>-->
    <div>
            <ol>
                <li>
                    An Khang Cạm kết 100% bằng lái Quốc tế IAA do An Khang hoàn tất cho Quý Khách xuất xứ từ Mỹ - trụ sở đặt tại 2815 FORD STREET - BROOKLYN - NEW YORK
                </li>
                <br>
                <li>
                    <b style="color: red">Trách nhiệm của Quý Khách</b> là nhờ người thận, bạn bè hỏi giúp Quốc Gia - Thành Phố - Bang của Quý Khách sắp tới có cho Chấp Chận bằng Quốc tế do IAA cấp hay không!
                    <br>
                     <br>
                    <i> *** Làm sao để biết Bằng Quốc Tể IAA có sử dụng được không: thuê xe Công ty nào hãy hỏi Công ty đó - mượn Xe người nào hãy hỏi người đó- hoặc hỏi Bạn bè đã từng qua nước ngoài.</i>
                     <br>
                     <br>
                    <b style="color: darkblue"> Theo KINH NGHIỆM LÂU NĂM ( em làm bằng lái quốc tế IAA gần 15 năm) thì tất cả các nước cho du khách nước ngoài sử dụng bằng quốc tế IAA với visa du lịch</b>
                     <br>
                     <br>
                    <b style="color: darkblue"> Ngoại trừ Hàn Quốc, Trung Quốc, Nhật Bản, Đài Loan - 1 số thành phố của mấy nước này không cho sử dụng bằng quốc tế IAA</b>
                </li>
                     <br>
                <li>
                    <b style="color: red">Trách nhiệm của An Khang</b> là đăng ký 1 Bằng Quốc Tế IAA hợp pháp từ Mỹ - Còn Sử dụng như thế nào Quý Khách phải tự tìm hiểu (An Khang ghi rõ trách nhiệm mỗi bên - làm việc rõ ràng từ đầu )
                </li>
                     <br>
                <li>
                    <b style="color: red">Giấy Phép lái xo Quốc tế IAA - Mỹ cấp chỉ có giá trị đi công tác ngắn hạn, du lịch, thăm người thân</b>, riêng Visa du học 1 số nước cho sử dụng, 1 Số nước không cho và <b style="color: red">tuyệt đối không có giá trị cho visa định cư</b>.
                </li>
                     <br>
                <li>
                    Sau khi hoàn tất , Quý Khách vẫn giữ bằng lái xe gốc sau này khi điều khiển xe ở Nước Ngoài , Quý Khách phải mang theo bằng lái xe gốc , xuất trình kèm với bằng Quốc tế iAA mới hợp lệ
                </li>
                     <br>
                <li>
                    Thực chất của cụm từ "Giấy Phép lái xe Quốc tế" là 1 bản dịch từ 1 Bằng Lái Xe quốc gia nhưng được Các nước khác chấp nhận - Các tổ chức cấp bản dịch này đều do Chính Phủ chỉ mnh - không tư dịch và in được
                <p>Có nhiều loại Giấy Phép lái xe Quốc tế như Mỹ Cấp , Úc Cấp, Canada Cấp... hay GPLX Quốc tế của Việt Nam sắp tới cấp thực chất đều là 1 bản dịch.</p>
                    <p>An Khang là đại lý dich Vụ chính thức của hiêp hội Ô tô Quốc Tể IAA đặt tại Việt Nam (Chỉ có 1 đai lý tại Việt Nam ) - Chứng minh rõ ràng trên hệ thống <b style="color: blue">idl-iaa.com</b> Quý Khách không phải Io lắng về việc bằng giả - An Khang làm đúng xuất xứ từ Mỹ.</p>
                    <p>Ngoài IAA, còn một loại bằng quốc tế nữa là IDP Bằng quốc tế do Việt Nam cấp - International Driver Permit - Vui lòng liên hệ thêm để được tư vấn.</p>
                    <b style="color: red;font-size: large;">Tại Việt Nam , không chấp nhận sử dụng Bằng lái xe Quốc Tế iAA !</b>
                </li>

            </ol>

    </div>

                        </div>
<div>

</div>
{% endblock %}
