{% extends "dangky/ampiaa.html" %}
{% block content %}
{%load static%}
<div class="span-19 last">
<br>
     <div>
            <ol>
                <li>
                    An Khang Cạm kết 100% bằng lái Quốc tế IAA do An Khang hoàn tất cho Quý Khách xuất xứ từ Mỹ - trụ sở đặt tại 2815 FORD STREET - BROOKLYN - NEW YORK
                </li>
                <br>
                <li>
                    <b style="color: red">Trách nhiệm của Quý Khách</b> là nhờ người thận, bạn bè hỏi giúp Quốc Gia - Thành Phố - Bang của Quý Khách sắp tới có cho Chấp Chận bằng Quốc tế do IAA cấp hay không!
                    <br>
                     <br>
                    <i> *** Làm sao để biết Bằng Quốc Tể IAA có sử dụng được không: thuê xe Công ty nào hãy hỏi Công ty đó - mượn Xe người nào hãy hỏi người đó- hoặc hỏi Bạn bè đã từng qua nước ngoài.</i>
                     <br>
                     <br>
                    <b style="color: darkblue"> Theo KINH NGHIỆM LÂU NĂM ( em làm bằng lái quốc tế IAA gần 15 năm) thì tất cả các nước cho du khách nước ngoài sử dụng bằng quốc tế IAA với visa du lịch</b>
                     <br>
                     <br>
                    <b style="color: darkblue"> Ngoại trừ Hàn Quốc, Trung Quốc, Nhật Bản, Đài Loan - 1 số thành phố của mấy nước này không cho sử dụng bằng quốc tế IAA</b>
                </li>
                     <br>
                <li>
                    <b style="color: red">Trách nhiệm của An Khang</b> là đăng ký 1 Bằng Quốc Tế IAA hợp pháp từ Mỹ - Còn Sử dụng như thế nào Quý Khách phải tự tìm hiểu (An Khang ghi rõ trách nhiệm mỗi bên - làm việc rõ ràng từ đầu )
                </li>
                     <br>
                <li>
                    <b style="color: red">Giấy Phép lái xo Quốc tế IAA - Mỹ cấp chỉ có giá trị đi công tác ngắn hạn, du lịch, thăm người thân</b>, riêng Visa du học 1 số nước cho sử dụng, 1 Số nước không cho và <b style="color: red">tuyệt đối không có giá trị cho visa định cư</b>.
                </li>
                     <br>
                <li>
                    Sau khi hoàn tất , Quý Khách vẫn giữ bằng lái xe gốc sau này khi điều khiển xe ở Nước Ngoài , Quý Khách phải mang theo bằng lái xe gốc , xuất trình kèm với bằng Quốc tế iAA mới hợp lệ
                </li>
                     <br>
                <li>
                    Thực chất của cụm từ "Giấy Phép lái xe Quốc tế" là 1 bản dịch từ 1 Bằng Lái Xe quốc gia nhưng được Các nước khác chấp nhận - Các tổ chức cấp bản dịch này đều do Chính Phủ chỉ mnh - không tư dịch và in được
                <p>Có nhiều loại Giấy Phép lái xe Quốc tế như Mỹ Cấp , Úc Cấp, Canada Cấp... hay GPLX Quốc tế của Việt Nam sắp tới cấp thực chất đều là 1 bản dịch.</p>
                    <p>An Khang là đại lý dich Vụ chính thức của hiêp hội Ô tô Quốc Tể IAA đặt tại Việt Nam (Chỉ có 1 đai lý tại Việt Nam ) - Chứng minh rõ ràng trên hệ thống <b style="color: blue">idl-iaa.com</b> Quý Khách không phải Io lắng về việc bằng giả - An Khang làm đúng xuất xứ từ Mỹ.</p>
                    <p>Ngoài IAA, còn một loại bằng quốc tế nữa là IDP Bằng quốc tế do Việt Nam cấp - International Driver Permit - Vui lòng liên hệ thêm để được tư vấn.</p>
                </li>

            </ol>

    </div>
    <!--<h2 class="title_about" style="  font-size: 24px;font-weight: 700;-->
    <!--line-height: 24px;margin: 0;padding: 5px 0 5px;color:#336699;text-align: center">Bảng giá bằng Quốc tế iAA - Mỹ cấp</h2>-->
<!--<amp-img alt=""-->
  <!--src="{% static "dangky/images/info/info.jpg" %}"-->
  <!--width="592"-->
  <!--height="800"-->
  <!--layout="responsive">-->
<!--</amp-img>-->
    </div>
{% endblock %}
