{% extends "dangky/ampiaa.html" %}
{% block content %}
{% load static %}
<div class="span-19 last">
<br>
    <h2 class="title_about" style="  font-size: 24px;font-weight: 700;
    line-height: 24px;margin: 0;padding: 5px 0 5px;color:#336699;text-align: center">Một số mẫu bằng công ty chúng tôi làm đại lý</h2>
    <h2 class="title_about" style="  font-size: 24px;font-weight: 700;
    line-height: 24px;margin: 0;padding: 5px 0 5px;color:#336699"></h2>
    <div class="clearfix fl" style="width:300px; padding:6px 0px">

    </div>
    <div style="clear:both"></div>
    <div style="text-align: center;">
        <br/><amp-img alt="" src="{% static "dangky/images/licenses/1.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/licenses/2.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/licenses/3.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/licenses/4.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/licenses/5.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/licenses/6.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/licenses/7.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/licenses/8.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/licenses/9.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/licenses/10.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/1.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/2.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/3.jpg" %}" width="521" height="593" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/4.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/5.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/6.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/7.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/8.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/9.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/10.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/11.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/12.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/13.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/14.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/15.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/16.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/17.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/18.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/19.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/20.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/21.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/uploads/mau-bang/22.jpg" %}" width="521" height="393" layout="responsive"/></amp-img><br/>
        &nbsp;
    </div>&nbsp;

</div>
{% endblock %}