{% extends "dangky/ampiaa.html" %}
{% block content %}
{%load static%}
<div class="span-19 last">
<br>
    <h2 class="title_about" style="  font-size: 24px;font-weight: 700;
    line-height: 24px;margin: 0;padding: 5px 0 5px;color:#336699;text-align: center">Bảng giá bằng Quốc tế iAA - Mỹ cấp</h2>
    <h2 class="title_about" style="  font-size: 24px;font-weight: 700;
    line-height: 24px;margin: 0;padding: 5px 0 5px;color:#336699"></h2>
    <div class="clearfix fl" style="width:300px; padding:6px 0px">

    </div>
    <div>

<ol style="font-size: 20px; font-weight: bold">

    <p><i>Hiện tại, An Khang có đợt khuyến mãi cực lớn</i></p>
    <li ><span style="color: red">Gói hoàn tất ĐÚNG 15 ngày(kể cả Thứ 7+CN)</span>
    <ul >
        <li>
            Thời hạn 1 năm = 1.250.000 VND
        </li>
        <li>
            Thời hạn 3 năm = 1.350.000 VND
        </li>
        <li>
            Thời hạn 5 năm = 1.450.000 VND
        </li>
        <li>
            Thời hạn 10 năm = 1.550.000 VND
        </li>
        <li>
            Thời hạn 20 năm = 1.900.000 VND
        </li>
    </ul>
    </li>
    <li ><span style="color: red">Gói hoàn tất ĐÚNG 09 ngày(kể cả Thứ 7+CN)</span>
    <ul >
        <li>
            Thời hạn 1 năm = 1.600.000 VND
        </li>
        <li>
            Thời hạn 3 năm = 1.700.000 VND
        </li>
        <li>
            Thời hạn 5 năm = 1.800.000 VND
        </li>
        <li>
            Thời hạn 10 năm = 1.900.000 VND
        </li>
        <li>
            Thời hạn 20 năm = 2.400.000 VND
        </li>
    </ul>
    </li>
    <li ><span style="color: red">Gói hoàn tất ĐÚNG 04 ngày(Không tính Thứ 7+CN)</span>
    <ul >
        <li>
         Thời hạn 1 năm = 1.900.000 VND
        </li>
        <li>
            Thời hạn 3 năm = 2.000.000 VND
        </li>
        <li>
 Thời hạn 5 năm = 2.100.000 VND
        </li>
        <li>
            Thời hạn 10 năm = 2.200.000 VND
        </li>
        <li>
            Thời hạn 20 năm = 2.700.000 VND
        </li>
    </ul>
    </li>
    <p style="color: red;">( Chi phí trọn gói - cam kết không phát sinh và đúng hẹn)</p>
    <p style="color: red;">Ví dụ:</p>
    <p style="color: red;">Làm bằng quốc tế 10 năm - 15 ngày có bằng thì trọn gói A-Z = 1.550.000 VND đã bao gồm phí vận chuyển không phát sinh</p>
</ol>
    </div>
    <!--<div style="clear:both"></div>-->
    <!--<div style="text-align: center;">-->
        <!--<amp-img alt="" src="{% static 'dangky/uploads/iaa/iaa-dichvu-1.jpg' %}" width="521"-->
  <!--height="693"-->
  <!--layout="responsive"/></amp-img>-->
        <!--</span><br/>-->
        <!--&nbsp;-->
    <!--</div>-->


</div>
{% endblock %}
