{% extends "dangky/ampiaa.html" %}
{% block content %}
{%load static%}
<div class="span-19 last">
<br>
    <h2 class="title_about" style="  font-size: 24px;font-weight: 700;
    line-height: 24px;margin: 0;padding: 5px 0 5px;color:#336699;text-align: center">Hồ sơ thủ tục làm bằng lái quốc tế</h2>
    <div class="clearfix fl" style="width:300px; padding:6px 0px">

    </div>
    <div>
        <b style="color: red">Hồ sơ cần</b>
        <ol>
            <li>
                Bằng lái xe 2 mặt
            </li>
            <li>1 tấm ảnh 5x5 hoặc 3x4 hoặc 4x6 -nền màu xanh hay trắng đểu được</li>
            <li>chữ ký người cần làm bằng lái (ký đậm - có thể sử dụng bút lông )</li>
            <li>Hộ chiếu hoặc Chứng minh nhân dân(thẻ căn cước)
                <br>
            <b style="color: red">Có thể gộp chung hạng xe máy vào bằng lái xe Quốc tế IAA(chi phí vẫn giữ nguyên - không tăng phí ) <br> <br> Tất cả Quý Khách Vẫn giữ bản gốc</b>

            </li>

        </ol>
    </div>
    <div style="clear:both"></div>
    <div style="text-align: center;">
        <!--<img alt="" src="{% static "dangky/uploads/iaa/iaa-dichvu-2.jpg" %}" style=""/><br/> <br/> <img alt="" src="{% static "dangky/uploads/iaa/iaa-dichvu-3.jpg" %}" style=""/><br/>-->
        <br/>
        <b style="color: red; font-size: 20px">Cách chụp mặt trước Giấy Phép Lái Xe</b>
        <span style="color: rgb(31, 73, 125);"><br/><br/> <img alt="Cách chụp mặt trước Giấy Phép Lái Xe" src="{% static "dangky/uploads/iaa/iaa-dichvu-3.jpg" %}" style=""/><br/> <br/>
        <b style="color: red; font-size: 20px">Cách chụp mặt sau Giấy Phép Lái Xe</b>
        <span style="color: rgb(31, 73, 125);"><br/><br/> <img alt="Cách chụp mặt sau Giấy Phép Lái Xe" src="{% static "dangky/uploads/iaa/iaa-dichvu-4.jpg" %}" style=""/><br/> <br/>
        <b style="color: red; font-size: 20px">Cách chụp Chữ ký</b>

            <span style="color: rgb(31, 73, 125);"><br/> <br/> <img alt="Cách chụp Chữ ký" src="{% static "dangky/uploads/iaa/iaa-dichvu-5.jpg" %}" style=""/>
            </span>
            <br/>
            <br/>
            <br/>
        <b style="color: red; font-size: 20px">Cách chụp Ảnh</b>
            <br><i>Chụp trên nền phẳng, chụp ngay ngắn, nền trắng hay xanh đều được</i>
            <span style="color: rgb(31, 73, 125);"><br/> <br/> <img alt="Cách chụp Ảnh" src="{% static "dangky/uploads/iaa/iaa-dichvu-6.jpg" %}" style=""/>
                <br/>
                 <br><i>Nếu không có ảnh thẻ (hoặc ảnh thẻ mờ, xấu) có thể lấy điện thoại tự chụp, chụp cách 1 mét từ camera - có thể đứng tựa và tường, tường màu gì cũng được ( An Khang sẽ photoshop chỉnh sửa lại giúp bạn). Lúc chụp, nếu cười bằng lái xe sẽ đẹp hơn.</i>
            <span style="color: rgb(31, 73, 125);"><br/> <br/> <img alt="Cách chụp Ảnh selfie" src="{% static "dangky/uploads/iaa/iaa-dichvu-7.jpg" %}" style=""/>
                <br/>


            <!--<span style="color: rgb(31, 73, 125);"><br/> <br/> <img alt="" src="{% static "dangky/uploads/iaa/iaa-dichvu-8.jpg" %}" style=""/>-->
                <!--<br/>-->

        <!--</span><br/>-->
        &nbsp;
    </div>
    &nbsp;<div>
     <b style="color: red">Quy trình - có 3 bước</b>
        <ol>
            <li>
                Không đặt cọc
                <p>Quý khách gửi thủ tục - có 2 cách :</p>
                <ol>
                    <li>Quý khách đem thủ tục tới công ty An Khang (chỉ nộp bản photo - không nộp bản Gốc)Trụ sở chính: An Khang - Lầu 11 -Tòa nhà MH - Số 728-730 - Võ Văn Kiệt - Phường 1- Quận 5
                    <p>Hà NỘI: Room 701- 7th Floor - 101 Láng Hạ Street- District Đống Đa - Hà Nội Capital - Việt Nam - APAC</p>
                    </li>
                    <li>Quý khách gửi thủ tục qua Viber, Zalo - qua số 0983.247.057 hoặc 0938.715.157</li>
                </ol>
            </li>
            <li>Bên Em sẽ đăng ký bằng Quốc tế IAA dùm anh chị - không đặt cọc !</li>
            <li>Chỉ thanh toán khi nhận bằng trong tay
            <p>Khi Bằng lái xe Quốc tế về tới Việt Nam, Em sẽ gửi hình ảnh thật của Bằng lái Quốc tế qua email để Quý khách kiểm tra trước khi nhận.</p>
                <p>
                    Anh/ chị sẽ được kiểm tra bằng lái xe quốc tế của mình là hợp lệ tại: https://idl-iaa.com/status
                </p>
                <p>
                    Sau đó có 2 cách để nhận:
                </p>
                <ol>
                    <li>
                        Quý Khách nhận tại địa chỉ bên Công Ty An Khang và thanh toán tiền mặt tại đây.
                    </li>
                    <li>
                       Chúng tôi sẽ chuyển tới địa chỉ của Quý Khách
                        <p>(Chuyển khoản nếu nhận Ở tinh - sau khi nhận bằng trong tay)</p>
                    </li>
                </ol>
            </li>


        </ol>
</div>

</div>
{% endblock %}
