{% extends "dangky/ampiaa.html" %}
{% block css %}
<style>
    :required {
        width: 300px;
    }
</style>
{% endblock %}
{% block content %}

<div class="span-19 last">
    <br>
    <h2 class="title_about" style="  font-size: 24px;font-weight: 700;
    line-height: 24px;margin: 0;padding: 5px 0 5px;color:#336699;text-align: center">Đăng ký IAA Online</h2>

    <div class="contact">

        <table style="BORDER-COLLAPSE: collapse" border="1" cellspacing="0" bordercolor="#cccccc" cellpadding="0"
               width="100%" align="center">
            <tbody>
            <tr>
                <td>
                    <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
                        <tbody>
                        <tr>
                            <td>
                                <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <fieldset>
                                        <strong>Thông tin cá nhân</strong>

                                        <div class="form_left">Họ và tên<font color="#ff8800"> *</font></div>
                                        <div class="form_right">
                                            {{form.name}}
                                        </div>
                                        <div style="clear:both"></div>
                                        <div class="form_left">Địa chỉ liên lạc (phường/ xã, quận/huyện, tỉnh/ thành phố, quốc gia):<font color="#ff8800"> *</font></div>
                                        <div class="form_right">
                                            {{form.address}}

                                        </div>




                                        <div style="clear:both"></div>
                                        <div class="form_left">Điện thoại di động<font color="#ff8800"> *</font></div>
                                        <div class="form_right">
                                            {{form.phone}}
                                        </div>

                                        <div style="clear:both"></div>
                                        <div class="form_left">Email<font color="#ff8800"> *</font></div>
                                        <div class="form_right">
                                            {{form.mail}}
                                        </div>

                                        <div style="clear:both"></div>

                                        <div style="clear:both"></div>
                                    </fieldset>
                                    <hr style="BORDER-COLLAPSE: collapse" noshade="">
                                    <br>
                                    <fieldset>
                                        <strong>Quý vị quan tâm thời hạn bao lâu?</strong>

                                        <div class="form_left">Thời hạn bằng lái: 1 năm, 3 năm, 5 năm, 10 năm hay là 20
                                            năm<font color="#ff8800"> *</font></div>
                                        <div class="form_right">
                                            {{form.license_time}}
<br>
                                            <span>(Thời gian làm bằng: 4 - 15  ngày)<span>
                                        </div>

                                        <div style="clear:both"></div>

                                        <div style="clear:both"></div>
                                    </fieldset>

                                    <hr style="BORDER-COLLAPSE: collapse" noshade="">
                                    <fieldset>
                                        <br>
                                        <strong>Gửi thông tin hình ảnh</strong>
                                        <!--<span>Upload hình ảnh <br/></span><br/>-->
                                        <div class="form_left">Bằng lái xe mặt trước<font color="#ff8800"> *</font>
                                        </div>
                                        <div class="form_right">
                                            {{form.license_front}}

                                        </div>
                                        <div style="clear:both"></div>
                                        <div class="form_left">Bằng lái xe mặt sau<font color="#ff8800"> *</font></div>
                                        <div class="form_right">

                                            {{form.license_back}}
                                        </div>
                                        <div style="clear:both"></div>
                                        <div class="form_left">Hình<font color="#ff8800"> *</font></div>
                                        <div class="form_right">
                                            {{form.pic}}
                                        </div>
                                        <div style="clear:both"></div>


                                        <div class="form_left">Chữ ký mẫu<font color="#ff8800"> *</font></div>
                                        <div class="form_right">
                                            {{form.signature_sample}}
                                        </div>

                                    </fieldset>
                                    <span> <font color="red">Hoặc quý khách có thể gửi hình ảnh cho chúng tôi vào email: khang@iaavietnam.com<br/></font></span>
                                    <hr style="BORDER-COLLAPSE: collapse" noshade="">
                                    <div align="center">
                                        <input
                                                type="submit" value="Gửi thông tin" id="btsend" name="btsend"
                                                class="bt1"/>
                                    </div>
                                </form>


                                <br></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>&nbsp;

</div>
{% endblock %}