{% extends "dangky/ampiaa.html" %}
{% block content %}
{%load static%}
<div class="span-19 last">
    <h2 class="title_about" style="">Đã đăng ký thành công. Đội ngữ của IAA sẽ hỗ trợ và phản hồi
        thông tin cho quý khách hàng trong thời gian sớm nhất có thể</h2>
</div>
{% endblock %}
