{% extends "dangky/ampiaa.html" %}
{% block content %}
{% load static %}
<div class="span-19 last">
    <h2 class="title_about" style="  font-size: 24px;font-weight: 700;
    line-height: 24px;margin: 0;padding: 5px 0 5px;color:#336699;text-align: center">Một số khách hàng VIP của công ty chúng tôi</h2>

    <div style="text-align: center;">
        <amp-img alt="" src="{% static "dangky/images/vip/a13.jpg" %} width="521"
  height="393"
  layout="responsive"/></amp-img><br/><br/>
        <amp-img alt="" src="{% static "dangky/images/vip/16.jpg" %}" width="521"
  height="393"
  layout="responsive"/></amp-img><br/><br/>
        <amp-img alt="" src="{% static "dangky/images/vip/b5.jpg" %}" width="448"
  height="582"
  layout="responsive"/></amp-img><br/><br/>
        <amp-img alt="" src="{% static "dangky/images/vip/c14.jpg" %}" width="448"
  height="582"
  layout="responsive" /></amp-img><br/><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/vip/1.jpg" %}" width="521"
  height="693"
  layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/vip/2.jpg" %}" width="521"
  height="593"
  layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/vip/3.jpg" %}" width="521"
  height="493"
  layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/vip/4.jpg" %}" width="521"
  height="693"
  layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/vip/6.jpg" %}" width="521"
  height="593"
  layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/vip/7.jpg" %}" width="521"
  height="693"
  layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/vip/8.jpg" %}" width="521"
  height="393"
  layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/vip/9.jpg" %}" width="521"
  height="693"
  layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/vip/10.jpg" %}" width="521"
  height="693"
  layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/vip/11.jpg" %}" width="521"
  height="593"
  layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/vip/12.jpg" %}" width="521"
  height="393"
  layout="responsive"/></amp-img><br/>
        <br/><amp-img alt="" src="{% static "dangky/images/vip/15.jpg" %}" width="521"
  height="693"
  layout="responsive"/></amp-img><br/>
    </div>


</div>
{% endblock %}