<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head><title>Bằng lái xe quốc tế - Chuyển đổi bằng lái xe - IAA An Khang</title>
    <meta name="description"
          content="IAA An Khang Chúng tôi tạo mọi điều kiện cho các bạn sắp đi du lịch, công tác , định cư nước ngoài chưa có bằng lái xe bản sứ nơi bạn sắp tới"/>
    <meta name="keywords"
          content="thời hạn,sử dụng,quốc tế,bảo hiểm,toàn cầu,sai sót,mất mát,hư hỏng,thời gian,thông tin,tài khoản,bến thành,trường giang,hội sở,công ty,chấp nhận,thanh toán,tín dụng,đảm bảo,uy tín,phương châm"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="content-language" content="vi"/>
    <meta name="language" content="vietnamese"/>
    <meta name="author" content="Bằng lái xe quốc tế - Chuyển đổi bằng lái xe - IAA An Khang"/>
    <meta name="copyright"
          content="Bằng lái xe quốc tế - Chuyển đổi bằng lái xe - IAA An Khang [vanphongankhang@gmail.com]"/>
    <meta name="robots" content="index, archive, follow, noodp"/>
    <meta name="googlebot" content="index,archive,follow,noodp"/>
    <meta name="msnbot" content="all,index,follow"/>
    <meta name="generator" content="leapor"/>


    {% load static %}
    <link rel="icon" href="#" type="image/vnd.microsoft.icon"/>
    <link rel="shortcut icon" href="#" type="image/vnd.microsoft.icon"/>
    <link rel="stylesheet" type="text/css" href="{% static "dangky/themes/default/css/reset3fed.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "dangky/themes/default/css/template3fed.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "dangky/themes/default/css/icons3fed.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "dangky/themes/default/css/real3fed.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "dangky/themes/default/css/tab_info3fed.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "dangky/images/phone/style.css" %}"/>
    <script type="text/javascript" src="{% static "dangky/js/language/vi3fed.js" %}"></script>
    <script type="text/javascript" src="{% static "dangky/js/jquery/jquery.min3fed.js" %}"></script>
    <script type="text/javascript">//<![CDATA[ var nv_siteroot="index.html", nv_sitelang="vi", nv_name_variable="nv", nv_fc_variable="op", nv_lang_variable="language", nv_module_name="thoi-han-va-gia", nv_my_ofs=7, nv_my_abbr="ICT", nv_cookie_prefix="nv3c_H7sto", nv_area_admin=0; //]]> </script>
    <script type="text/javascript" src="{% static "dangky/js/global3fed.js" %}"></script>
    {% block css %}{% endblock %}


</head>
<body>
        <!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v4.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your customer chat code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="537801222903203"
  logged_in_greeting="Xin chào, IAA An Khang có thể hỗ trợ bạn vấn đề gì?"
  logged_out_greeting="Xin chào, IAA An Khang có thể hỗ trợ bạn vấn đề gì?">
      </div>




<img class="bg" alt="bg" src="{% static "dangky/themes/default/images/bg2.jpg" %}">
<div id="shadow">
    <div id="shadow_r">
        <div id="shadow_bl">
            <div id="shadow_br">
                <div id="container">
                    <div id="header">
                        <div id="logo"><a title="Bằng lái xe quốc tế - Chuyển đổi bằng lái xe - IAA An Khang"
                                          href="index.html"><img src="{% static "dangky/images/logo.png" %}"
                                                                 alt="Bằng lái xe quốc tế - Chuyển đổi bằng lái xe - IAA An Khang"/></a>
                        </div>
                        <div class="banner">
                            <link rel="stylesheet" type="text/css"
                                  href="{% static "dangky/themes/default/images/nvslider/banner-rotatorc90b.css" %}"/>
                            <script type="text/javascript"
                                    src="{% static "dangky/themes/default/images/nvslider/query.easing.1.3.minc90b.html" %}"></script>
                            <script type="text/javascript"
                                    src="{% static "dangky/themes/default/images/nvslider/jquery.banner-rotator.minc90b.js" %}"></script>
                            <script type="text/javascript">$(document).ready(function () {
                                var $panel = $(".panel");
                                var $container = $panel.find(".container");
                                var $infoSec = $panel.find(".info-section");
                                $container.bannerRotator({
                                    width: 870,
                                    height: 180,
                                    margin: 5,
                                    auto_start: true,
                                    delay: 5000,
                                    play_once: false,
                                    pause_onmouseover: false,
                                    effect: 'random',
                                    duration: 800,
                                    easing: 'swing',
                                    cpanel_align: 'BR',
                                    outside_cpanel: false,
                                    cpanel_onmouseover: false,
                                    select_onmouseover: false,
                                    thumb_type: 'none',
                                    tooltip_delay: 0,
                                    dbuttons_type: 'none',
                                    dbuttons_onmouseover: false,
                                    display_playbutton: false,
                                    display_timer: false,
                                    timer_align: 'top',
                                    text_effect: 'fade',
                                    text_duration: 500,
                                    text_easing: 'swing',
                                    text_delay: 0,
                                    text_onmouseover: false,
                                    text_sync: true,
                                    center_image: true,
                                    shuffle: true,
                                    mousewheel: false,
                                    swipe: true
                                });
                            }); </script>
                            <div class="panel">
                                <div class="container">
                                    <div id="preview1" class="banner-rotator">
                                        <ul>
                                            <li><a href="{% static "dangky/uploads/nvslider/pic1.jpg" %}" title="1"></a> <a href="#"></a></li>
                                            <li><a href="{% static "dangky/uploads/nvslider/pic2.jpg" %}" title="2"></a> <a href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <span class="sitename"> Bằng lái xe quốc tế - Chuyển đổi bằng lái xe - IAA An Khang </span>
                    </div>
                    <link rel="stylesheet" type="text/css" media="screen"
                          href="{% static "dangky/themes/default/css/ddlevelsmenu-base3fed.css" %}"/>
                    <link rel="stylesheet" type="text/css" media="screen"
                          href="{% static "dangky/themes/default/css/ddlevelsmenu-topbar3fed.css" %}"/>
                    <link rel="stylesheet" type="text/css" media="screen"
                          href="{% static "dangky/themes/default/css/ddlevelsmenu-sidebar3fed.css" %}"/>
                    <script src="{% static "dangky/js/jquery/ddlevelsmenu3fed.js" %}" type="text/javascript"></script>
                    <div id="ddtopmenubar" class="mattblackmenu">
                        <ul>
                            <li><a title="Trang chủ" href="{% url 'index' %}" class="current"><strong>Trang chủ</strong></a>
                            </li>
                            <li><a title="Mẫu bằng" href="{% url 'license' %}"><strong>Mẫu bằng</strong></a></li>
                           
                            <li><a title="Đăng ký iAA" href="{% url 'register' %}" class="dangky"><strong>Đăng ký iAA </strong></a></li>
                            <li><a title="Bảng giá" href="{% url 'pricing' %}"><strong>Bảng giá</strong></a></li>
                            <li><a title="Liên hệ" href="{% url 'contact' %}"><strong>Liên hệ</strong></a></li>
                        </ul>
                    </div>
                    <script type="text/javascript">ddlevelsmenu.setup("ddtopmenubar", "topbar") </script>
                    <div class="contentwrapper">
                        <div class="user1">
                            <div id="user1">

                            </div>
                        </div>
                        <div class="user2">

                        </div>
                        <div class="span-19 ">

                            {% block content %}{% endblock %}
                        <div class="clear"></div>
                    </div>
                        <div class="span-5 last">
                            <div class="box silver"><h3 class="header">Danh mục</h3>
                                <link rel="stylesheet" type="text/css"
                                      href="{% static "dangky/themes/default/css/ddsmoothmenu3fed.css" %}"/>
                                <script type="text/javascript" src="{% static "dangky/js/ddsmoothmenu3fed.js" %}"></script>
                                <script type="text/javascript">ddsmoothmenu.init({
                                    arrowimages: {
                                        down: ['downarrowclass', '{% static "dangky/themes/default/images/ddsmoothmenu/down.gif" %}', 23],
                                        right: ['rightarrowclass', '{% static "dangky//themes/default/images/ddsmoothmenu/right.gif" %}']
                                    },
                                    mainmenuid: "smoothmenu_2",
                                    zIndex: 200,
                                    orientation: 'v',
                                    classname: 'ddsmoothmenu-v',
                                    contentsource: "markup"
                                }); </script>
                                <div class="ddsmoothmenu-v" id="smoothmenu_2">
                                    <ul>
                                        <li><a title="Bảng giá" href="{% url 'pricing' %}">Bảng giá</a></li>
                                        <li><a title="Tìm hiểu thêm về iAA" href="{% url 'info' %}">Tìm hiểu thêm về iAA</a></li>
                                        <li><a title="Nhận bằng iAA tại nước ngoài" href="{% url 'delivery' %}">Nhận bằng iAA tại nước ngoài</a></li>
                                        <li><a title="Cách kiểm tra iAA hợp lệ" href="{% url 'validate' %}">Cách kiểm tra iAA hợp lệ</a></li>
                                        <li><a title="Ưu đãi dành cho đại lý và công ty du lịch" href="{% url 'promotion' %}">Ưu đãi dành cho đại lý và công ty du lịch</a></li>
                                        <li><a title="Hướng dẫn cho người nước ngoài lái xe tại Việt Nam" href="{% url 'guide' %}">Hướng dẫn cho người nước ngoài lái xe tại Việt Nam</a>
                                        </li>
                                        <li><a title="Giải đáp nhanh"
                                               href="{% url 'faq' %}">Giải đáp nhanh</a></li>
                                        <li><a title="Các bảng hiệu giao thông ở nước ngoài"
                                               href="{% url 'sign' %}">Các bảng hiệu giao thông ở nước ngoài</a>
                                        </li>
                                        <li><a title="Lưu ý khi lái xe tại nước ngoài" href="{% url 'note' %}">Lưu ý khi lái xe tại
                                            nước ngoài</a></li>
                                        <li><a title="Dành cho Đại lý 1" href="{% url 'note' %}">Dành cho Đại lý 1</a></li>
                                        <li><a title="Dành cho Đại lý 2" href="{% url 'note' %}">Dành cho Đại lý 2</a></li>
                                        <li><a title="Dành cho Đại lý 3" href="{% url 'note' %}">Dành cho Đại lý 3</a></li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                   <div class="box silver" style=" color: #0c42a6; font-weight: bold"><h3 class="header">iAA Việt Nam</h3>
        <table border="0" height="207" width="280">
            <tbody>
            <tr>
                <td><p>Trụ sở chính :</p></td>
            </tr>
            <tr>
                <td><p> An Khang- Lầu 11- Toà nhà MH- số 728-730-Võ Văn Kiệt-Phường 1-Quận 5 - TP.HCM
                    (ngay góc Trần Bình Trọng-Võ Văn Kiệt) </p>&nbsp;<br/>
                    <p>Chi nhánh tại Hà Nội:</p>
                    <p>​Phòng 701- Lầu 7 - Số 101- Láng Hạ - Đống Đa - Hà Nội</p>
                    <br>
                    <p>Điện thoại: 0938247057- Viber or Zalo or whatsapp</p>
                    <br>
                    <p>Email: khang@iaavietnam.com | vanphongankhang@gmail.com</p>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
                            <!--<div class="box silver"><h3 class="header">Video</h3></div>-->
                            <!--<div class="box silver"><h3 class="">Thống kê truy cập</h3></div>-->
                        </div>

                    <div class="clear"></div>
                    <div id="" class="">
                        <div class=""><h3> Bằng lái quốc tế là gì?</h3>
                                    <div class="custom-featured1"><p><span style="font-size: small;">Giấy phép lái xe quốc tế (IDL) cho phép một cá nhân lái&nbsp;xe cơ giới tư nhân&nbsp;tại một&nbsp;quốc gia khác khi đi kèm với giấy phép lái xe hợp lệ từ đất nước của họ.&nbsp;Trên thực tế đây là một bản dịch đa ngôn ngữ của giấy phép lái xe hiện tại.</span>
                                    </p></div>
                                </div>
                        <div style="text-align: center;"><span>&nbsp;</span><br/> <br/> Bản quyền thuộc về&nbsp;
                            <strong>Leapor </strong>Thiết kế bởi<strong><a href="https://www.leapor.com/"
                                                                           target="_blank"> Leapor</a></strong></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
        <a class="lgscreenphone phonelink" href="tel:0938247057"><img
        class="phoneicon" src="{% static "dangky/images/phone/phone-flat.png" %}"></a>
<a class="mbscreenphone phonelink" href="tel:0938247057"><img class="phoneicon"
                                                              src="{% static "dangky/images/phone/phone-flat.png" %}"></a>
<script type="text/javascript" src="{% static "dangky/js/mudim3fed.js" %}"></script>
</body>
</html>